apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: picoclaw-workspace
  name: picoclaw-workspace
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
