apiVersion: v1
kind: ConfigMap
metadata:
  name: picoclaw-config
  namespace: {{ .Namespace }}
  labels:
    app: picoclaw
    picoclaw.io/tenant: {{ .TenantID }}
data:
  config.json: |
    {{ .ConfigJSON }}
